<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PseudoBlog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div id="header">
        <a id="logo"  href="/">
            PseudoBlog
            </a>
        <ul id="nav-list">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/compose">Compose</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>