<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PseudoBlog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap">
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div id="header">
        <div class="margin-left-10">
            <a id="home"  href="/">
                PseudoBlog
            </a>
        </div>
        <div >
            <ul id="head-nav-list">
                <li class="head-item">
                    <a href="/">Home</a>
                </li>
                <li class="head-item ">
                    <a href="/compose">Compose</a>
                </li>
                <li class="head-item ">
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>