
<%- include("partials/header.ejs") %>
    <section class="main">
        <div class="content">

            <h1>About</h1>
            <p>This is a blog created by Travis Schlief during a web development bootcamp complete on Udemy in 2023.
                The bootcamp was instructed by The course is taught by Dr. Angela Yu, the lead 
                instructor at the App Brewery.
            </p>
            <p>This project demonstrates the use of Node.js and Express.js to create a mock blog app.
                The server does not connect to a database therefore posts will not persist. </p>
        </div>
    </section>

<%- include("partials/footer.ejs") %>
