<%- include("partials/header.ejs") %>
    <section class="main">
        <div class="content">
            <h1>Welcome to PseudoBlog</h1>
            <p>Embark on a journey of exploration and creativity with PseudoBlog – your ultimate destination for a world of fun and fascinating ideas.
                 PseudoBlog is your one-stop-shop for everything related to blogging.
                  Whether you're into lifestyle, travel, technology, or simply sharing your everyday experiences, PseudoBlog welcomes bloggers of all interests and backgrounds.
                 Step into the realm of endless possibilities where every idea finds a home at PseudoBlog!</p>
        </div>
       
        
    </section>
    <section class="blog">
        <div class="posts">
            <% for(let i = 0; i< posts.length; i++) { %>
                <%- posts[i].toPostLinkHTML() %>
            <% } %>
        </div>
    </section>
   

   

<%- include("partials/footer.ejs") %>

 