<%- include("partials/header.ejs") %>
    <section class="main p-color">
        <div class="content">
            <h1>Welcome to PsudoBlog</h1>
            <p>Embark on a journey of exploration and creativity with PsudoBlog – your ultimate destination for a world of fun and fascinating ideas.
                 PsudoBlog is your one-stop-shop for everything related to blogging.
                  Whether you're into lifestyle, travel, technology, or simply sharing your everyday experiences, PsudoBlog welcomes bloggers of all interests and backgrounds.
                 Step into the realm of endless possibilities where every idea finds a home at PsudoBlog!</p>
        </div>
       
        
    </section>
    <section class="main s-color">
        <div class="posts">
            <% for(let i = 0; i< posts.length; i++) { %>
                <%- posts[i].toPostLinkHTML() %>
            <% } %>
        </div>
    </section>
   

   

<%- include("partials/footer.ejs") %>

 